AddType image/webp .webp
AddType image/jpeg .jpg .jpeg

<IfModule mod_headers.c>
  <FilesMatch "\.(html|css|js)$">
    Header set Cache-Control "no-cache, no-store, must-revalidate"
  </FilesMatch>
  <FilesMatch "\.(jpg|jpeg|png|webp|svg)$">
    Header set Cache-Control "public, max-age=86400"
  </FilesMatch>
</IfModule>
